<div class="row title">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center">About</h1>
  </div>
</div>
<div class="row content">
  <div class="col-md-10 col-md-offset-1" *ngIf="dataService.currentUserObject">
    <div class="col-md-6">
      <mat-form-field color="accent" class="forminput fnamearea">
        <input matInput placeholder="First Name" name="fname" type="text" [formControl]="fnameFormControl" [disableControl]="!isEditing" [(ngModel)]="dataService.currentUserObject.first_name" />
        <mat-error *ngIf="fnameFormControl.hasError('required')">
          First name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field color="accent" class="forminput lnamearea">
        <input matInput placeholder="Last Name" name="lname" type="text" [formControl]="lnameFormControl" [disableControl]="!isEditing" [(ngModel)]="dataService.currentUserObject.last_name" />
        <mat-error *ngIf="lnameFormControl.hasError('required')">
          Last name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-12 aboutarea">
      <mat-form-field color="accent" class="forminput">
        <textarea [disabled]="!isEditing" matInput placeholder="About you" matTextareaAutosize name="about" type="text" [(ngModel)]="dataService.currentUserObject.about"></textarea>
      </mat-form-field>
    </div>

    <div class="col-md-12 text-center imagearea">
      <button [disabled]="!isEditing" class="actionimage" mat-raised-button color="primary" (click)="setImage()">
        <mat-icon>insert_photo</mat-icon> Update Profile Picture
      </button>
    </div>

    <button class="fab" mat-fab [color]="isEditing ? 'accent':'primary' " (click)="editSave()">
      <mat-icon *ngIf="!isEditing">edit</mat-icon>
      <mat-icon *ngIf="isEditing">save</mat-icon>
    </button>


  </div>
</div>
