::ng-deep button.fab {
  position: fixed;
	bottom: 30px;
	right: 30px;
	width: 56px;
}

::ng-deep .forminput .mat-input-element:disabled{
  color: #90e57e;
}

::ng-deep .forminput .mat-input-placeholder {
  color: #fff;
}

::ng-deep .forminput.mat-focused .mat-input-placeholder {
  color: #43a047;
}

::ng-deep .forminput .mat-form-field-underline {
  background-color: #fff;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 300;
}

.row.title {
  margin-top: 20px;
}

.row.content {
  margin-top: 30px;
  padding-bottom: 20px;
}

.row.content > [class*='col-'] > button {
  margin-top: 15px;
}

.aboutarea, .imagearea {
  margin-top: 30px;
}

.forminput {
  width: 100%;
  color:#eeddbb;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
