.container-fluid, .row {
  height: 100%
}

.avatar, .content {
  margin-top: 40px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 50px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 50px;
}

.outline {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 4px 2px 0px rgba(0, 0, 0, .5), 0 6px 6px 0 rgba(0, 0, 0, .5)
}
