<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
      <div class="col-md-4 avatar">
        <app-user-window [user]="assignedUser"></app-user-window>
      </div>

      <!-- User's About display -->
      <div *ngIf="assignedUser.about" class="col-md-8 col-sm-12 col-xs-12 content outline">
        <div class="background"></div>
        <h2 class="text-center">About Me</h2>
        <h3 class="text-center">{{assignedUser.about}}</h3>
      </div>

      <!-- User's Wish list display -->
      <div class="col-md-8 col-sm-12 col-xs-12 content outline">
        <div class="background"></div>
        <h2 class="text-center">Wish List</h2>

        <div class="row">
          <div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
            <div *ngFor="let link of wishList | async">
              <app-wish-list-item [data]="link"></app-wish-list-item>
            </div>
            <div *ngIf="(wishList | async)?.length==0">
              <h3 class="text-center">The secret santa has not updated their Wish List!</h3>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
