<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Santa's Naughty List</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2  col-xs-12 col-xs-offset-0">
        <div *ngFor="let user of dataService.users">
          <div class="avatar col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <app-user-window *ngIf="user.first_name != null && user.first_name != ''" [user]="user"></app-user-window>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <button class="center-block btn btn-success btn-lg" (click)="dataService.setAssignedUser()" type="submit">Get My Secret Santa!</button>
      </div>
    </div>
  </div>
</div>
