<div class="row content" *ngIf="data">
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
    <img src="{{data.image ? data.image : '/assets/image_not_found.jpg'}}">
    <button class="actionimage" *ngIf="isEditing" mat-raised-button color="primary" (click)="setImage()">
      <mat-icon>insert_photo</mat-icon>
    </button>
  </div>

  <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 infoarea">
    <div class="row vcenter">
      <div [ngClass]="(!canEdit) ? 'col-lg-12 col-md-12 col-sm-12 col-xs-12' : (isEditing ? 'col-lg-9 col-md-8 col-sm-8 col-xs-9' : 'col-lg-9 col-md-8 col-sm-8 col-xs-6')">
        <h4 *ngIf="!isEditing"><a href={{data.url}}>{{data.title}}</a></h4>

        <mat-form-field color="accent" class="forminput titlearea" *ngIf="isEditing" >
          <input matInput placeholder="Title" name="title" type="text" [formControl]="titleFormControl" [(ngModel)]="data.title" />
          <mat-error *ngIf="titleFormControl.hasError('required')">
            Title is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div *ngIf="canEdit" [ngClass]="(isEditing) ? 'col-lg-3 col-md-4 col-sm-4 col-xs-3' : 'col-lg-3 col-md-4 col-sm-4 col-xs-6'">
        <button class="actionbtn pull-right" *ngIf="!isEditing" mat-raised-button color="primary" (click)="isEditing=true"><mat-icon>edit</mat-icon></button>
        <button class="actionbtn pull-right" *ngIf="!isEditing" mat-raised-button color="warn" (click)="deleteItem()"><mat-icon>delete</mat-icon></button>
        <button class="actionbtn pull-right" *ngIf="isEditing" mat-raised-button color="accent" (click)="updateItem()"><mat-icon>save</mat-icon></button>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <h5 *ngIf="!isEditing">{{data.description}}</h5>
        <mat-form-field color="accent" class="forminput descarea" *ngIf="isEditing">
          <textarea matInput placeholder="Description" matTextareaAutosize name="description" type="text" [(ngModel)]="data.description"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
