::ng-deep button.fab {
  position: fixed;
	bottom: 30px;
	right: 30px;
	width: 56px;
}

/*.titlearea .mat-error {
  font-size: 1.3em !important;
}*/

::ng-deep .forminput .mat-input-placeholder {
  color: #fff;
}

::ng-deep .forminput.mat-focused .mat-input-placeholder {
  color: #43a047;
}

::ng-deep .forminput .mat-form-field-underline {
  background-color: #fff;
}

h4 {
  color:#eeddbb;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

h5 {
  color:#eeddbb;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  white-space: pre-wrap;
  margin-top: 20px;
}

a {
  color: #90e57e;
  text-decoration: none;
}

.content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.actionpanel {
  min-width: 150px;
  width: 150px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.actionbtn {
  min-width: 60px;
  width: 60px;
  padding: 0;
}

.vcenter {
  display: flex;
  align-items: center;
}

.descarea {
  margin-top: 30px;
}

.forminput {
  width: 100%;
  color:#eeddbb;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  img {
    max-height: 300px;
    max-width: 300px;
  }
  button.actionimage {
    min-width: 300px;
    max-width: 300px;
    width: auto;
  }

  .infoarea {
    margin-top: 30px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  img {
    max-height: 400px;
    max-width: 400px;
  }
  button.actionimage {
    min-width: 400px;
    max-width: 400px;
    width: auto;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  img {
    max-height: 100px;
    max-width: 100px;
  }
  button.actionimage {
    min-width: 100px;
    max-width: 100px;
    width: auto;
  }
  .infoarea {
    margin-top: 0;
  }
  .content {
    display: flex;
    align-items:center;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  /*img {
    max-height: 100px;
    max-width: 100px;
  }*/

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  /*img {
    max-height: 100px;
    max-width: 100px;
  }*/
}
