<div class="container-fluid panel" id="title-panel">

  <div class="card card-container">
    <button class="google" (click)="loginWithGoogle()">Sign in with Google</button>

    <div class="line center-block"></div>

    <form class="form-signin">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" [(ngModel)]="email" name="email" required autofocus />
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" [(ngModel)]="password" name="password" required />
      <span id="reauth-email" class="reauth-email"></span>
      <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="login()" type="submit">Sign in</button>
      <div class="text-center">Don't have a login? <a [routerLink]="['/signup']"><u>Sign Up here!</u></a></div>
      <div *ngIf="authService.errorMessage" class="alert alert-danger fade in text-center"><strong>{{authService.errorMessage}}</strong></div>
      <div *ngIf="errorMessage" class="alert alert-danger fade in text-center"><strong>{{errorMessage}}</strong></div>
    </form>
  </div>
</div>
