<h1 mat-dialog-title>Confirm</h1>
<mat-dialog-content>
  <h2>{{data.message}}</h2>
  <h3>{{data.submessage}}</h3>
</mat-dialog-content>
<mat-dialog-actions  align="end">
  <button mat-raised-button (click)="close()" mat-dialog-close><mat-icon>cancel</mat-icon></button>
  <button mat-raised-button color="warn" (click)="delete()"><mat-icon>delete_forever</mat-icon></button>
</mat-dialog-actions >
