h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #3f51b5;
}

h2, h3 {
  font-weight: 300;
  color: rgba(0,0,0,.64);
  white-space: pre-wrap;
}

h2 {
  font-size: 18px;
}


h3 {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 20px;
}
