<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Los Sotos {{(authService.userId | async) ? "- " + (authService.userId | async) : ""}}</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse" >
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a [routerLink]="['/home']">Home</a></li>
        <li *ngIf="authService.user | async" routerLinkActive="active"><a [routerLink]="['/profile']">Profile</a></li>
        <button *ngIf="authService.user | async" class="btn btn-primary navbar-btn" (click)="logout()">Log Off</button>
        <button *ngIf="!(authService.user | async)" class="btn btn-primary navbar-btn" [routerLink]="['/login']">Sign In</button>
      </ul>
    </div>
  </div>
</nav>
<div id="app-content" class="expand-all">
  <!-- appBackgroundImage [imageUrl]="backgroundImage"> -->
  <router-outlet></router-outlet>
</div>
