.navbar {
  margin-bottom: 0px;
}

.expand-all {
  height: 100%;
  width: 100%;
}

:host >>> app-home > div:nth-of-type(1){
  width: 100%;
  height: 100%;
}

:host >>> #title-panel {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

::ng-deep .background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  padding: 10px;
  /*background-color: #C49651;*/
  background-color: #844E1B;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  opacity: 0.7;
}

::ng-deep h1, ::ng-deep h2 , ::ng-deep h3 , ::ng-deep h4 {
  font-family: 'Dancing Script', cursive;
  font-size: 400%;
  color: #eeddbb;
}
