img.placeholder {
  height: 160px;
  width: 160px;
  border-radius: 50%;
}

.shadow-border{
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: 100%;
  min-height: 200px;
  min-width: 200px;
  max-height: 280px;
  max-width: 260px;
  overflow: hidden;
}

.content {
  padding: 15px;
  position: relative;
  left: 0;
  right: 0;
  background-color: transparent;
}

h2 {
  font-size: 250%;
}
