<div class="shadow-border center-block">
  <div class="content">
    <div class="background"></div>
    <img class="placeholder center-block" src="{{(user.image && user.image!='')?user.image:'/assets/placeholder.png'}}">
    <h2 class="text-center">{{user.first_name + " " + user.last_name}}</h2>
  </div>
</div>
