#addbtn {
  min-width: 60px;
  max-width: 60px;
  min-height: 34px;
  max-height: 34px;
  margin-left: 3px;

}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 300;
}

.row.title {
  margin-top: 20px;
}

.row.search {
  margin-top: 30px;
  padding-bottom: 15px;
}

.row.content {
  padding:15px;
}

.row.content > [class*='col-'] > button {
  margin-top: 30px;
  margin-bottom: 10px;
}

input[type=text] {
  min-height: 34px;
  width: 100%;
}

input[type=text]:read-only {
  background-color: #aaaaaa;
}
