<div class="row title">
  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
    <h1 class="text-center">Wish List</h1>
  </div>
</div>
<div class="row search" >
  <div *ngIf="!isEditing" class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
    <div class="input-group">
      <input [readonly]="!addEnabled" type="text" name="search" placeholder="Enter gift link..." [(ngModel)]="searchText">
      <span class="input-group-btn">
        <button id="addbtn" [disabled]="!addEnabled" mat-raised-button color="primary" (click)="searchLink()"><mat-icon>add</mat-icon></button>
      </span>
    </div>
  </div>
</div>
<div class="row content">
  <div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
    <div *ngFor="let link of wls.userLinks | async">
      <app-wish-list-item [canEdit]="isEditing" [data]="link"></app-wish-list-item>
    </div>
  </div>
</div>
<button class="fab" *ngIf="(wls.userLinks | async)?.length>0 || isEditing" mat-fab [color]="isEditing ? 'accent':'primary' " (click)="isEditing=!isEditing">
  <mat-icon *ngIf="!isEditing">edit</mat-icon>
  <mat-icon *ngIf="isEditing">save</mat-icon>
</button>
