<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 main-login main-center">
      <form class="form-horizontal" method="post" action="#">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="first_name" id="first_name" [(ngModel)]="first_name" placeholder="First Name"/>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group pad-left">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="last_name" id="last_name" [(ngModel)]="last_name" placeholder="Last Name"/>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="email" id="email" [(ngModel)]="email" placeholder="Email"/>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password" placeholder="Password"/>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group pad-left">
                <input type="password" class="form-control" name="confirm" id="confirm" [(ngModel)]="confirm" placeholder="Confirm Password"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="col-md-12">
                <button type="button" class="btn btn-primary btn-lg btn-block btn-signin" (click)="signUp()">Sign Up</button>
              </div>
            </div>
          </div>
        </div>

      </form>

      <div *ngIf="errorMessage" class="alert alert-danger fade in text-center"><strong>{{errorMessage}}</strong></div>
      <div *ngIf="authService.errorMessage" class="alert alert-danger fade in text-center"><strong>{{authService.errorMessage}}</strong></div>
    </div>
  </div>
</div>
