h1 {
  font-family: 'Roboto', sans-serif;
  color: #3f51b5;
}

mat-form-field {
  width: 100%;
}

::ng-deep .linkarea .mat-input-placeholder {
  color: #844E1B;
}

::ng-deep .linkarea.mat-focused .mat-input-placeholder {
  color: #43a047;
}

::ng-deep .linkarea .mat-form-field-underline {
  background-color: #844E1B;
}

.linkarea {
  width: 100%;
  /*color:#844E1B;*/
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
