<h1 mat-dialog-title>Image Link</h1>
<mat-dialog-content>
  <mat-form-field color="accent" class="linkarea">
    <input matInput placeholder="Update image link..." name="link" [(ngModel)]="link" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="close()" mat-dialog-close><mat-icon>cancel</mat-icon></button>
  <button mat-raised-button color="accent" (click)="save()"><mat-icon>save</mat-icon></button>
</mat-dialog-actions>
