@import '~@angular/material/theming';
@include mat-core();


$custom-primary: mat-palette($mat-blue, 700);
$custom-accent: mat-palette($mat-green, 600);
$custom-theme: mat-light-theme($custom-primary, $custom-accent);
@include angular-material-theme($custom-theme);
