
<!-- DEFAULT HOME SCREEN -->
<div *ngIf="!showContent; else contentscreen">
  <div class="container-fluid panel" id="title-panel">
    <div class="row vertical-align">
      <div class="col-md-8 col-md-offset-2">
          <h1 class="text-center">{{titleText}}</h1>
      </div>
    </div>

  </div>
</div>

<!-- PARTICIPANTS SCREEN -->
<ng-template #contentscreen>
  <div *ngIf="!(dataService.assignedUser); else assigneduserscreen">
    <app-participants></app-participants>
  </div>
</ng-template>

<!-- ASSIGNED USER SCREEN -->
<ng-template #assigneduserscreen>
  <app-assigned-user [assignedUser]="dataService.assignedUser"></app-assigned-user>
</ng-template>
