<div class="background"></div>
<div class="menu">
  <div class="row title">
    <div class="col-md-12">
      <h1 class="text-center">{{menuData.title}}</h1>
    </div>
  </div>
  <div class="row link" routerLinkActive="active" *ngFor="let menuLink of menuData.links">
    <div class="col-md-12">
      <a routerLink="{{menuLink.link}}"><span>{{menuLink.name}}</span></a>
    </div>
  </div>
  <!-- <ul>
    <li *ngFor="let menuLink of menuData.links" routerLinkActive="active">
      <a routerLink="{{menuLink.link}}">{{menuLink.name}}</a>
    </li>
  </ul> -->
</div>
