h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 300;
}

a {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 100;
  color: #eeddbb;
  text-decoration: none;
}

a span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}

a span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

a:hover span {
  padding-right: 25px;
}

a:hover span:after {
  opacity: 1;
  right: 0;
}

.row.title {
  margin-top: 20px;
  margin-bottom: 40px;
}

.row.link {
  margin-top: 10px;
  margin-bottom: 15px;
}

.menu {
  padding: 5px;
}

.active {
  background-color: #ccbb99;
  /*color: black;*/
}

.active > [class*='col-'] > a {
  color: black;
  font-weight: 300;
}
