<div class="container-fluid">
  <div class="row title">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
      <app-user-window *ngIf="dataService.currentUserObject" [user]="dataService.currentUserObject"></app-user-window>
    </div>
  </div>
  <div class="row is-flex">
    <div class="col-md-2 col-md-offset-1 col-sm-3 col-sm-offset-0 col-xs-12 col-xs-offset-0 outline">
      <app-side-menu [menuData]="menuData"></app-side-menu>
    </div>
    <div class="col-md-8 col-sm-9 col-xs-12 outline">
      <div class="background"></div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
